.app-arena__square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  cursor: default;
}

.app-arena__square--empty {
  background-color: grey;
}

.app-arena__square--hasMine {
  background-color: red;
}

.app-arena__square--hidden {
  background-color: black;
}

.app-arena__square--flagged {
  background-color: blue;
}