.leaderboard__container {
  width: auto;
  text-align: center;
  color: red;
  background-color: blue($color: #000000);
}

.leaderboard__difficulty-container {
  ul li {
    display: inline;
  }

  li:hover {
    cursor: pointer;
  }
}